.home-education{
  font-size: 1rem;
  text-align: center;
  color: var(--secondary-dark);
}

.education-title{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary-dark);
}
