.home-education{
  font-size: 1rem;
  text-align: center;
  color: var(--secondary-med);
  padding-top: var(--navbar-height);
}

.education-title{
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary-dark);
}
