/* Home section styles */
.home {
  padding-top: var(--navbar-height); /* space below navbar */
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Inter', sans-serif;
}

.home-title {
  font-family: 'Inter', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: var(--primary-med);

  /* Outline via multiple shadows */
  text-shadow: 
    -2px -2px 0 var(--primary-light),
     2px -2px 0 var(--primary-light),
    -2px  2px 0 var(--primary-light),
     2px  2px 0 var(--primary-light),
     0 0 6px var(--primary-light);

  text-align: center;
}




.home-subtitle {
  color: var(--primary-dark);
  font-size: 1.2rem;
  max-width: 600px;
  padding: 1rem;
  text-align: center;
}

.home-hello {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  color: var(--primary-med);
  text-align: center;
}
.home-hello-subtitle {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: var(--primary-dark);
  text-align: center;
}

.home-section {
  width: 100%;
  color: #f8f8f8;
  font-family: 'Inter', sans-serif;
}

/* Intro Section */
.home-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--navbar-height);
  text-align: center;
}
.home-box{
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  padding: 2rem;       /* spacing inside box */
  margin: 2rem auto;   /* spacing around box */
  background-color: rgba(50, 50, 50, 0.8); /* semi-transparent dark box */
  border-radius: 12px; /* rounded corners */
  max-width: 700px;    /* limit width */
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* subtle shadow */
}