/* Home section styles */
.home {
  padding-top: var(--navbar-height); /* space below navbar */
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Inter', sans-serif;
}

.home-title {
  font-family: 'Inter', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: var(--secondary-med);

  /* Outline via multiple shadows */
  text-shadow: 
    -2px -2px 0 var(--primary-dark),
     2px -2px 0 var(--primary-dark),
    -2px  2px 0 var(--primary-dark),
     2px  2px 0 var(--primary-dark),
     0 0 6px var(--primary-dark);

  text-align: center;
}




.home-subtitle {
  color: var(--primary-dark);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
}

.home-hello {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  color: var(--secondary-dark);
  text-align: center;
}
.home-hello-subtitle {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: var(--secondary-dark);
  text-align: center;
}

.home-section {
  width: 100%;
  color: #f8f8f8;
  font-family: 'Inter', sans-serif;
}

/* Intro Section */
.home-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--navbar-height);
  text-align: center;
}