.home-interests {
  /* padding: 6rem 2rem; */
  text-align: center;
  color: var(--primary-dark);
}

.interests-title{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary-dark);
}